.footer {
    background-color: #1D1D1D;
    padding: 25px;
    background-image: url("../../assets/bg-img.png");

    .section {
        display: flex;
    }

    .logo-footer {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }

    .socials-container {
        display: flex;

        .socials {
            cursor: pointer;
            width: 38px;
            height: 38px;
            margin: auto 0 auto 20px;
        }
    }
}