.work {
}

.job-container {
    position: relative;
}

.job-link {
    width: 50px;
    height: 400px;
    position: absolute;
    right: -55px;
    bottom: 80%;
    border-top: 5px dashed #A49393;
    border-right: 5px dashed #A49393;
    border-bottom: 5px dashed #A49393;
}

.job {
    position: relative;
    display: flex;
    margin-bottom: 260px;

    .job-left {
        .time {
            margin-bottom: 24px;
        }

        p {
            margin: 0;
            columns: #67595E;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .job-right {
        display: flex;
        text-align: right;

        .content {
            margin-right: 36px;

            h3 {
                font-size: 38px;
                margin: 0;
            }

            h4 {
                font-size: 24px;
                margin: 0 0 40px 0;
                color: #67595E;
            }

            button {
                padding: 16px 56px;
                border-radius: 5px;
                border: none;
                background-color: black;
                color: white;
                font-weight: bold;
                font-size: 24px;
                background-image: url("../../assets/space.jpg");
                background-size: cover;
                box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
                cursor: pointer;
                transition: box-shadow 0.3s ease;
    
                &:hover {
                    box-shadow: 10px 10px 0 3px #ddd;
                }
            }
        }

        .job-image-dark, .job-image-light {
            z-index: 1;
            width: 215px;
            height: 215px;
            padding: 36px;
            transition: transform .5s;
            display: flex;
            justify-content: center;

            img {
                object-fit: contain;
                width: 60%;
                height: 60%;
                margin: auto;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .job-image-dark {
            background-color: #1D1D1D;
        }

        .job-image-light {
            background-color: white;
        }
    }
}