.slider-container {
    display: flex;
    justify-content: flex-end;

    .name {
        margin: auto 10px auto 0;
        color: #A49393;
        opacity: 0;
        transition: 0.4s;
    }

    &:hover {
        .name {
            opacity: 1;
        }
    }
}

.toggle-slider {
    position: relative;
    width: 100px;
    height: 50px;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A49393;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;

    img {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 15px;
        top: 15px;
    }

    &:hover {
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
    }
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 35px;
    width: 35px;
    left: 8px;
    bottom: 8px;
    background-color: #67595E;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  input[type='checkbox']:checked + .slider {
    background-color: #EDAAAF;
  }
  
  input[type='checkbox']:checked + .slider:before {
    transform: translateX(50px);
  }